// Fonts
@font-face {
  font-family: "Fraunce";
  src: url("../Assets/Fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}

@font-face {
  font-family: "Manrope";
  src: url("../Assets/Fonts/Manrope-VariableFont_wght.ttf");
}

// Text Colours
$text-white: #fff;
$text-dark-purple: #24053e;

// Background Colours
$bg-dark-purple: #24053e;
$bg-davy-grey: #584d62;
$bg-white: #fff;
$bg-ghost-white: #fcf8ff;

// Accent Colours
$accent-eucalyptus: #44ffa1;
