@import "./variables";

// Fonts
@font-face {
  font-family: "Fraunce";
  src: url("../Assets/Fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}

@font-face {
  font-family: "Manrope";
  src: url("../Assets/Fonts/Manrope-VariableFont_wght.ttf");
}

// Defaults
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
