.solutionsSection {
  display: flex;
  justify-content: center;
  padding-top: 9rem;
  margin-bottom: 28.1rem;
}

.solutionsList {
  list-style: none;
  width: 100%;
  max-width: 114rem;
  display: flex;
  justify-content: space-between;
  height: 308px;
}
